<div class="modal-header">
    <p class="modal-title fw-bold">{{ post?.likeCount }} likes</p>
    <button type="button" class="btn-close" aria-hidden="true" (click)="cancel()"></button>
</div>
<div class="modal-body">
    <div class="comment-list">
      <ul class="list-group">
        <li *ngFor="let comment of comments" class="comment-box">
            <div>
              <div *ngIf="account && (comment.author?.login==account.login)"
                      ngbDropdown
                      class="dropdown d-flex justify-content-end"
                      display="dynamic"
                >
                <a class="nav-link dropdown-toggle comment-toggle" ngbDropdownToggle href="javascript:void(0);" [id]="'comment-menu-toggle-'+comment.id">
                    <fa-icon icon="ellipsis" [rotate]="90"></fa-icon>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  <li>
                      <a
                      class="dropdown-item"
                      (click)="openCommentDeleteDialog(comment)"
                      >
                        <span>Delete</span>
                      </a>
                  </li>
                </ul>
              </div>
              <a class="author" (click)="navigateTo(comment?.author?.login!)"> {{ comment?.author?.login }} </a>
              <div >
                <p> {{ comment.content }} </p>
                <span class="status"> {{ getDifferenceTime(comment.createdDate?.toString()!) }} </span>
              </div>
            </div>
        </li>
    </ul>
        
    </div>
    <form name="commentForm" role="form" novalidate [formGroup]="commentForm">
        <div class="row">
          <div class="col-10">
            <custom-text-input formControlName="content" placeholder="Enter your text here..."></custom-text-input>
          </div>
          <div class="col-2">
            <button class="btn btn-dark" type="button" (click)="createComment()" [disabled]="!commentForm.valid"><fa-icon icon="arrow-right"></fa-icon></button>
          </div>
        </div>
    </form>
</div>
