<div class="comment-box" [id]="'comment-'+comment?.id">
    <div *ngIf="account && (comment!.author?.login==account.login)"
            ngbDropdown
            class="dropdown d-flex justify-content-end"
            display="dynamic"
      >
      <a class="nav-link dropdown-toggle comment-toggle" ngbDropdownToggle href="javascript:void(0);" [id]="'comment-menu-toggle-'+comment!.id">
          <fa-icon icon="ellipsis" [rotate]="90"></fa-icon>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li>
            <a
            class="dropdown-item"
            (click)="openCommentDeleteDialog()"
            >
              <span>Delete</span>
            </a>
        </li>
      </ul>
    </div>
    <a class="author" (click)="navigateTo(comment?.author?.login!)"> {{ comment?.author?.login }} </a>
    <div >
      <p> {{ comment!.content }} </p>
      <div class="d-flex justify-content-between">
        <span class="status p-0"> {{ getDifferenceTime(comment!.createdDate?.toString()!) }} </span>
        &nbsp;
        <button class="btn btn-sm p-0" (click)="likeToggle()"><span class="btn-text"> {{ formatNumber(comment?.likeCount!) }} </span><fa-icon icon="thumbs-up" [size]="'sm'" [ngStyle]="{ color: comment?.likedByMe ? 'black':'grey'}"></fa-icon></button>
      </div>
    </div>
</div>